<div class="nes-container with-title">
	<p class="title">
		Price List
	</p>
	<p class="nes-badge copy-list" #parentCopy (click)="copyListId()">
		<span #spanCopy class="is-warning">Click to copy list ID</span>
	</p>
	<p class="is-small" *ngIf="(list.isClosed | async)"><strong>Your list is already closed</strong></p>
	<add-product *ngIf="!(list.isClosed | async)"></add-product>
	<div class="products__container nes-container">
		<div class="products__header">
			<p>name</p>
			<p>price</p>
			<p>qty</p>
			<p *ngIf="!(list.isClosed | async)">btns</p>
		</div>
		<product *ngFor="let product of products" [productRef]="product" [list]="list"></product>
	</div>
	<div class="total">
		<p>Total: <i class="nes-icon coin is-small"></i>{{ total }}</p>
		<button *ngIf="!(list.isClosed | async)" type="button" class="nes-btn is-error" (click)="closeList()">Close list</button>
		<button *ngIf="(list.isClosed | async)" type="button" class="nes-btn is-warning"  (click)="returnHome()">Return home</button>
	</div>
</div>