<form #form="ngForm" (ngSubmit)="updatePrice(form)">
  <div class="products__list">
    <p class="products__list__item">{{ product.name }}</p>
    <p class="products__list__item">{{ product.price | async | currency }}</p>
    <div *ngIf="isUpdating" class="products__list__edit nes-container">
      <p class="nes-text is-primary center-text">{{ product.name }}</p>
      <div class="nes-field is-inline products__list__edit__price">
        <label for="price" class="is-inline">price:</label>
        <input type="number" class="nes-input" [ngModel]="product.price | async" name="price" (focusout)="updatePrice(form)" />
        <input
          #qty
          type="number"
          [ngModel]="product.qty | async"
          name="qty"
          hidden="true"
        />
      </div>
      <div class="products__list__edit__buttons">
        <p>quantity: </p>
        <p>{{ qty.value }}</p>
        <button type="button" class="nes-btn" (click)="changeQty(false, form)">-</button>
        <button type="button" class="nes-btn" (click)="changeQty(true, form)">+</button>
        <input type="submit" class="nes-btn" value="done">
      </div>
    </div>
    <p class="products__list__item">{{ product.qty | async }}</p>
    <div *ngIf="!(list.isClosed | async)" class="products__list__item">
      <div class="nes-badge is-splited">
        <span *ngIf="!isUpdating" (click)="startUpdating()" class="is-primary">📝</span>
        <span *ngIf="!isUpdating" (click)="delete()" class="is-warning">❌</span>
      </div>
    </div>
  </div>
</form>
