/* Add application styles & imports to this file! */
@import "../node_modules/nes.css/css/nes.css";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive;
}

.center-text {
  text-align: center;
}

a {
  color: unset;
}

hr {
  border: 3px solid;
  margin: 20px auto;
}

.nes-container,
.nes-container.is-dark {
  margin: 10px;
  padding-left: 15px;
  padding-right: 15px;

  &.is-rounded {
    padding: 1rem 1.5rem;
    margin: 4px;
    border-image-outset: 2;
  }
  
  &.with-input {
    padding: 5px 8px;
  }
}

.is-dark .nes-btn {
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(255,255,255)" /></svg>');
}

.dark-mode,
.light-mode {
  position: absolute;
  top: -4px;
  right: -4px;
  padding: 0 5px 3px 0;
  line-height: 1.2;
}

.nes-input {
  padding: 0.1rem 0.5rem;
}

.nes-btn {
  &.is-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &.in-right-border {
    position: absolute;
    bottom: -4px;
    right: -4px;
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.error {
  animation: shake 0.4s;
  animation-iteration-count: 1;
  transition: ease-in-out 0.4s;
  color: #db0505 !important;
}


@keyframes grow {
  0% { transform: scale(1) }
  15% { transform: scale(1.01) }
  30% { transform: scale(1.02) }
  45% { transform: scale(1.03) }
  60% { transform: scale(1.04) }
  75% { transform: scale(1.05) }
  90% { transform: scale(1.06) }
  100% { transform: scale(1.07) }
}
.transition-click {
  animation: grow 0.25s;
  animation-iteration-count: 1;
  transition: ease-in 0.1s;
}
